<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers: che numero ho pensato?</title>
    <link rel="stylesheet" href="../static/css/due.css">
    <script src="../static/js/tre.js"></script>
</head>
<body>
    <h1>
        Numbers: che numero ho pensato?
    </h1>
    <h2>
        Clicca su un numero per vedere se è quello che ho pensato.
    </h2>

    <div class="grid">
        <div class="cell">
            <img id="uno" class="UNO" height="100px" width="150px" src="../static/images/uno.png">
        </div>
        <div class="cell">
            <img id="due" height="100px" width="150px" src="../static/images/due.png">
        </div>
        <div class="cell">
            <img id="tre" height="100px" width="150px" src="../static/images/tre.png">
        </div>
        <div class="cell">
            <img id="quattro" height="100px" width="150px" src="../static/images/quattro.jpg">
        </div>
        <div class="cell">
            <img id="cinque" height="100px" width="150px" src="../static/images/cinque.png">
        </div>
        <div class="cell">
            <img id="sei" height="100px" width="150px" src="../static/images/sei.png">
        </div>
        <div class="cell">
            <img id="sette" height="100px" width="150px" src="../static/images/sette.png">
        </div>
        <div class="cell">
            <img id="otto" height="100px" width="150px" src="../static/images/otto.png">
        </div>
        <div class="cell">
            <img id="nove" height="100px" width="150px" src="../static/images/nove.png">
        </div>
      </div>

    </div>
</body>
</html>